# Virtual environment
.venv/
venv/

# Environment variables
.env

# Python cache
__pycache__/
*.pyc

# IDE/editor files
.vscode/
.idea/

# SQLite database (if you use it locally)
db.sqlite3

static/firebase-service-account.json
static/stackhack-live-firebase-adminsdk-fbsvc-a9a5b709fc.json
static/

static/*.json